@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>@ViewBag.Title - PhysPlatform</title>
    @Styles.Render("~/Styles/bootstrap")
    @Styles.Render("~/Styles/site")
    @Scripts.Render("~/Scripts/bootstrap")
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm text-light navbar-light">
            <a class="navbar-brand" href="/home/index">PhysPlatform</a>


            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavBar">
                <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/home/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/contact">Contacts</a>
                    </li>

                    @if (Session["CurrentUserName"] == null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">Sing In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/register">Sign Up</a>
                        </li>
                    }

                    @if (Session["CurrentUserName"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/home/categories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/allquestions">Questions</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                <img src="~/Images/user.png" width="20px" />
                                @Session["CurrentUserName"]
                            </a>
                            <div class="dropdown-menu bg-info">
                                <a class="dropdown-item" href="~/account/logout">Logout</a>
                                <a class="dropdown-item" href="~/account/changeprofile">Change profile</a>
                                <a class="dropdown-item" href="~/account/changepassword">Change password</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>

            <form id="searchRow"class="row g-3" action="/home/search">
                <div class="col-auto">
                    <label for="inputSearchString" class="visually-hidden">Search</label>
                    <input type="search" class="form-control" id="inputSearchString" placeholder="Search" name="str">
                </div>
                <div class="col-auto">
                    <button class="btn btn-success">Search</button>
                </div>
               
               
            </form>
        </nav>
        @RenderBody()
    </div>
</body>
</html>


